.addProduct-container .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.header h1 {
    margin: 0;
}

.button-container .save,.cancel {
    color: #fff;
    font-weight: 600;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container .save {
    background: #5cb85c;
    margin-right: 1rem;
}

.button-container .save:hover {
    background: #7ddb7d;
}

.button-container .cancel {
    background: #292b2c;
}

.button-container .cancel:hover {
    background: #000000;
}



@media only screen and (min-width: 640px) {
    .addProduct-container .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .header .button-container {
        margin: 0;
    }
}