.addProduct-container .header {
    display: flex;
    flex-direction: column;
}

.header h2 {
    margin: 0;
}

.button-container .save,.cancel {
    color: #fff;
    font-weight: 600;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container .save {
    background: #5cb85c;
    margin-right: 1rem;
}

.button-container .save:hover {
    background: #7ddb7d;
}

.button-container .cancel {
    background: #292b2c;
}

.button-container .cancel:hover {
    background: #000000;
}

.addProduct-container .body {
    min-height: 75vh;
}

.body form {
    padding: 2rem 0;
    width: 100%;
}

form p {
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: .5rem 0;
}

.input-container input,select {
    flex: 2;
    padding: .3rem .5rem;
    font-size: 1rem;
}

.input-container label {
    flex: 1;
}

.notification {
    margin: 1rem 0;
    color: rgb(233, 42, 42);
    font-size: 1rem;
    font-weight: bold;
}


@media only screen and (min-width: 640px) {
    .addProduct-container .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .header .button-container {
        margin: 0;
    }
    .body form {
        width: 80%;
    }
    .input-container {
        flex-direction: row;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {
    .body form {
        width: 60%;
    }
}

@media only screen and (min-width: 1024px) {
    .body form {
        width: 40%;
    }
}